<div class="container gap-10">
  <div class="product-img flex-1 ">
    <img width="200px" height="200px" [src]=(product|async)?.image?.imgUrl [alt]=(product|async)?.image?.imgName>
  </div>
  <div class="flex-2 product-description">
    <h3 class="text-center page-title">{{(product|async)?.title}}</h3>
    <p>Year: {{(product|async)?.configure?.year}}</p>
    <p>{{(product|async)?.price|currency}}</p>
    <p>Description: {{(product|async)?.description}}</p>
    <button class="bg-purple" mat-button>Add to basket</button>
  </div>
</div>
