<mat-toolbar class="products-panel" *ngIf="canView$|async">
    <button (click)="openDialog()" mat-raised-button>
        <mat-icon>add</mat-icon>
        Add Product
    </button>
</mat-toolbar>
<app-sort-panel (sortBy)="getSorted($event)"></app-sort-panel>
<h3 class="text-center page-title">Products</h3>
<div class="container gap-10  items-flex-start">
    <mat-card class="products-card" *ngFor="let product of products |async">
        <mat-card-header class="flex-direction-column ">
            <mat-card-title class="text-center">{{product.title}}</mat-card-title>

            <div class="products-card-img">
                <img class="cursor-pointer " [routerLink]="['/product',product.id]" width="100%" height="100%" mat-card-image
                     [src]="product.image.imgUrl"
                     [alt]="product.image.imgName">
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="d-flex gap-10 items-center my-10">
                <mat-chip class="products-card-chip"> {{product.price | currency}}</mat-chip>
                <mat-chip class="products-card-chip">Year: {{product.configure.year}}</mat-chip>
            </div>
            <div class="products-card-description">
                <p *ngIf="product.description">Description: {{product.description | truncate}}</p>
            </div>
        </mat-card-content>
        <mat-card-actions class="p-16 pt-8 products-card-actions flex-wrap">
            <button class="bg-purple" *ngIf="canView$|async" (click)="addToBasket(product.id)" mat-button>Add to basket</button>
            <button class="bg-purple" [routerLink]="['/product',product.id]" mat-button>Details</button>
            <button class="btn-edite" *ngIf="canView$|async" (click)="openDialog(product)" mat-button>
                <mat-icon>edite</mat-icon>
                Edite Product
            </button>
        </mat-card-actions>
    </mat-card>

</div>
