

.products-card {
  background-color: #ffffff;
  max-width: 400px;
  height: 445px;
  justify-content: space-between;
  box-shadow: 0 0 15px -8px black;

  .products-card-img {
    margin-top: 10px;
    overflow-x: hidden;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    display: flex;
    justify-content: center;

    img {
      width: fit-content;
      height: 250px;
    }
  }

  .products-card-chip {
    margin-top: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 15px -8px black;

    ::ng-deep span.mdc-evolution-chip__text-label.mat-mdc-chip-action-label {
      color: purple !important;
    }
  }

  .products-card-description {
    height: 20px;
  }

  .products-card-actions {
    gap: 10px;

    button.btn-edite {
      color: #000;
      border: 1px solid #fff0;
      &:hover {
        border-color: #cfcfcf;
      }
      span{
        font-family: Roboto, "Helvetica Neue", sans-serif;
      }
    }
  }

}
