.logo, .copyright{
  font-family: 'Alkatra', cursive;
}

h3.page-title {
  line-height: initial;
  font-family: 'Alkatra', cursive;
  font-size: 3rem;
  margin-bottom: 0;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}