/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;   font-family: 'Alkatra', cursive; }
 .mat-mdc-snack-bar-container .mdc-snackbar__surface{
  min-width: auto !important;
  background-color: #ffffff !important
}